.TodoInfoHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.todoInfo {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	color: var(--blue);
	font-size: 0.875rem;
	font-weight: 700;
}

.textPurple {
	color: var(--purple);
}

.todoInfo span {
	background: var(--gray-400);
	color: var(--gray-200);
	padding: 0.2rem 0.6rem;
	border-radius: 999px;
	font-size: 0.75rem;
}
